body {
    background-color: #0F1626 !important;
}

#login-img {
    border-radius: 7%;
}

#login-txt {
    font-family: 'Russo One', sans-serif;
}


#vect-1 {
    margin-top: 33.4em;
}

#vect-2 {
    margin-top: 22em;
    z-index: 1;
}

/*tooltip Box*/
.con-tooltip {

    position: relative;
    border-radius: 9px;
    padding: 2px 2px;
    margin: 10px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    cursor: default;

}

.bottom:hover {
    transform: translateY(0px);
}

/*tooltip */
.tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    width: 100%;
    padding: 0px;
    background: #FEC100;
    color: black;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 10px;
    font: 16px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}


/* tooltip  after*/
.tooltip::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #FEC100 transparent transparent transparent;
    position: absolute;
    left: 40%;

}

.con-tooltip:hover .tooltip {
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: .3s linear;
    animation: odsoky 1s ease-in-out infinite alternate;

}

@keyframes odsoky {
    0% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(1px);
    }

}

/*bottom*/

.bottom .tooltip {
    top: 115%;
    left: -2%;
}

.bottom .tooltip::after {
    top: -17%;
    left: 40%;
    transform: rotate(180deg);
}

@media (max-width: 991px) {

    #vect-1 {
        margin-top: 3em;
        margin-bottom: 1em;
    }

    #vect-2 {
        margin-top: 1em;
    }
}

/* ============
    Particles
===============*/
/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 99%;
    height: 100%;
    background-color: #32384000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: 5em;
    text-align: left;
    text-indent: 9px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

/* ============
signup as driver
   ============*/

#vect-3 {
    margin-top: 22.6em;
}

#vect-4 {
    margin-top: 22em;
}





@media (max-width:2560px) {
    body {
        overflow-y: hidden;
    }
}

@media (max-width:991px) {
    #vect-3 {
        margin-top: 2em;
    }

    #vect-4 {
        margin-top: 0em;
    }

    body {
        overflow-y: scroll;
    }
}

/* ============
signup with uber
   ============*/

#vect-5 {
    margin-top: 28em;
}

@media (max-width:991px) {
    #vect-5 {
        margin-top: 0em;
        z-index: 1;
    }

    /*cloud position*/
    #cloud1 {
        opacity: .9;
        top: 2px;
        left: 120%;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(.59);
        -moz-animation: drift 25s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;
        -moz-animation-delay: 8s;
        -webkit-animation: drift 25s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 8s;
        animation: drift 25s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 8s;
        z-index: 0;
        height: 1em !important;
        position: absolute;
        display: none;
        visibility: hidden;

    }

    #circ1 p {
        color: #B3DAE6;
        font-size: 40px;
        font-family: helvetica;
        position: absolute;
        top: 5px;
        left: -10px;
    }

    #cloud2 {
        opacity: .8;
        top: 0px;
        left: 120%;
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        transform: scale(.7);
        -moz-animation: drift 50s;
        -moz-animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;
        -webkit-animation: drift 50s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation: drift 50s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        z-index: 0;
        height: 1em !important;

    }

    #cloud3 {
        opacity: 0;
        top: 0px;
        left: 50%;
        -webkit-transform: scale(.35);
        -moz-transform: scale(.35);
        transform: scale(.35);
        -moz-animation: driftBg 70s;
        -moz-animation-timing-function: linear;
        -webkit-animation: driftBg 70s;
        -webkit-animation-timing-function: linear;
        animation: driftBg 70s;
        animation-timing-function: linear;
        z-index: 0;
        height: 1em !important;
        display: none;
        visibility: hidden;

        /* okokokok */
    }

    #cloud4 {
        opacity: 0;
        top: 0px;
        left: 20%;
        -webkit-transform: scale(.40, .45);
        -moz-transform: scale(.40, .45);
        transform: scale(.40, .45);
        -moz-animation: driftBg2 60s;
        -moz-animation-timing-function: linear;
        -webkit-animation: driftBg2 60s;
        -webkit-animation-timing-function: linear;
        animation: driftBg2 60s;
        animation-timing-function: linear;
        z-index: 0;
        height: 1em !important;
    }

    #cloud5 {
        opacity: 0;
        top: 0px;
        left: 90%;
        -webkit-transform: scale(.40);
        -moz-transform: scale(.40);
        transform: scale(.40);
        -moz-animation: driftBg3 90s;
        -moz-animation-timing-function: linear;
        -webkit-animation: driftBg3 90s;
        -webkit-animation-timing-function: linear;
        animation: driftBg3 90s;
        animation-timing-function: linear;
        z-index: 0;
        height: 1em !important;
        display: none;
        visibility: hidden;

    }

    #cloud6 {
        opacity: .7;
        top: 0px;
        left: 120%;
        -webkit-transform: scale(.40);
        -moz-transform: scale(.40);
        transform: scale(.40);
        -moz-animation: drift 110s;
        -moz-animation-timing-function: linear;
        -mox-animation-iteration-count: infinite;
        -moz-animation-delay: 11s;
        -webkit-animation: drift 110s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 11;
        animation: drift 110s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 11;
        z-index: 0;
        height: 1em !important;
        display: none;
        visibility: hidden;
    }

    #cloud7 {
        opacity: .8;
        top: 0px;
        left: 120%;
        -webkit-transform: scale(.7);
        -moz-transform: scale(.7);
        transform: scale(.7);
        -moz-animation: drift 45s;
        -moz-animation-timing-function: linear;
        -mox-animation-iteration-count: infinite;
        -moz-animation-delay: 35s;
        -webkit-animation: drift 45s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 35s;
        animation: drift 45s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-delay: 35s;
        z-index: 0;
        height: 1em !important;

    }

}


/* =============================
    sky clouds
================================*/
body {
    overflow-x: hidden;
}

.cloudPane {
    margin: 0 auto;
}

/*main divs*/
.infoPane {
    width: 1200px;
    height: 3000px;
    margin: 0 auto;
    position: relative;
    background: white;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .3);
    overflow: hidden;
    z-index: -5;
}

.cloudPane {
    width: 100%;
    /* border-color: rgba(0,0,0,.3);
    border-width: 2px;
    border-style: solid; */
    background: -webkit-linear-gradient(#4A4A4A, #738185, #B3DAE6, white);
    background: -moz-linear-gradient(#4A4A4A, #738185, #B3DAE6, white);
    background: linear-gradient(#4A4A4A, #738185, #B3DAE6, white);
    z-index: -4;
}

/*cloud position*/
#cloud1 {
    opacity: .9;
    top: 20px;
    left: 120%;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(.59);
    -moz-animation: drift 25s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-delay: 8s;
    -webkit-animation: drift 25s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 8s;
    animation: drift 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 8s;
    z-index: 2;
}

#circ1 p {
    color: #B3DAE6;
    font-size: 40px;
    font-family: helvetica;
    position: absolute;
    top: 5px;
    left: -10px;
}

#cloud2 {
    opacity: .8;
    top: 12px;
    left: 120%;
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    transform: scale(.7);
    -moz-animation: drift 50s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -webkit-animation: drift 50s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation: drift 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 0;
}

#cloud3 {
    opacity: 0;
    top: 20px;
    left: 50%;
    -webkit-transform: scale(.35);
    -moz-transform: scale(.35);
    transform: scale(.35);
    -moz-animation: driftBg 70s;
    -moz-animation-timing-function: linear;
    -webkit-animation: driftBg 70s;
    -webkit-animation-timing-function: linear;
    animation: driftBg 70s;
    animation-timing-function: linear;
    z-index: 1;
    /* okokokok */
}

#cloud4 {
    opacity: 0;
    top: 20px;
    left: 20%;
    -webkit-transform: scale(.40, .45);
    -moz-transform: scale(.40, .45);
    transform: scale(.40, .45);
    -moz-animation: driftBg2 60s;
    -moz-animation-timing-function: linear;
    -webkit-animation: driftBg2 60s;
    -webkit-animation-timing-function: linear;
    animation: driftBg2 60s;
    animation-timing-function: linear;
    z-index: 1;
}

#cloud5 {
    opacity: 0;
    top: 20px;
    left: 90%;
    -webkit-transform: scale(.40);
    -moz-transform: scale(.40);
    transform: scale(.40);
    -moz-animation: driftBg3 90s;
    -moz-animation-timing-function: linear;
    -webkit-animation: driftBg3 90s;
    -webkit-animation-timing-function: linear;
    animation: driftBg3 90s;
    animation-timing-function: linear;
    z-index: 1;
}

#cloud6 {
    opacity: .7;
    top: 25px;
    left: 120%;
    -webkit-transform: scale(.40);
    -moz-transform: scale(.40);
    transform: scale(.40);
    -moz-animation: drift 110s;
    -moz-animation-timing-function: linear;
    -mox-animation-iteration-count: infinite;
    -moz-animation-delay: 11s;
    -webkit-animation: drift 110s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 11;
    animation: drift 110s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 11;
    z-index: 1;
}

#cloud7 {
    opacity: .8;
    top: 5px;
    left: 120%;
    -webkit-transform: scale(.7);
    -moz-transform: scale(.7);
    transform: scale(.7);
    -moz-animation: drift 45s;
    -moz-animation-timing-function: linear;
    -mox-animation-iteration-count: infinite;
    -moz-animation-delay: 35s;
    -webkit-animation: drift 45s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 35s;
    animation: drift 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 35s;
    z-index: 1;
}

/*individual circle position*/
#circ1 {
    z-index: 1;
}

#circ2 {
    top: 50px;
    left: -40px;
}

#circ3 {
    top: 50px;
    left: -120px;
}

#circ4 {
    top: 30px;
    left: -60px;
}

#circ5 {
    top: 100px;
    left: -150px;
}

#circ6 {
    top: 100px;
    left: 130px;
}

/*circle shadows*/
#circ1shadow,
#circ2shadow,
#circ3shadow,
#circ5shadow,
#circ6shadow {
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    -webkit-transform: scale(.9, -.9);
    -mox-transform: scale(.9, -.9);
    transform: scale(.9, -.9);

}

#circ1shadow {
    background: -webkit-radial-gradient(48% 64%, circle, rgba(204, 0, 0, 0) 110px, #9BBBC4 50px);
    background: -moz-radial-gradient(48% 64%, circle, rgba(204, 0, 0, 0) 110px, #9BBBC4 50px);
    background: radial-gradient(48% 64%, circle, rgba(204, 0, 0, 0) 110px, #9BBBC4 50px);
    top: 2px;
    z-index: 3;
}

#circ2shadow {
    background: -webkit-radial-gradient(58% 61%, circle, rgba(204, 0, 0, 0) 82px, #9BBBC4 50px);
    background: -moz-radial-gradient(58% 61%, circle, rgba(204, 0, 0, 0) 82px, #9BBBC4 50px);
    background: radial-gradient(58% 61%, circle, rgba(204, 0, 0, 0) 82px, #9BBBC4 50px);
    top: 0px;
}

#circ3shadow {
    background: -webkit-radial-gradient(54% 60%, circle, rgba(204, 0, 0, 0) 80px, #9BBBC4 50px);
    background: -moz-radial-gradient(54% 60%, circle, rgba(204, 0, 0, 0) 80px, #9BBBC4 50px);
    background: radial-gradient(54% 60%, circle, rgba(204, 0, 0, 0) 80px, #9BBBC4 50px);
    top: 8px;
    -webkit-transform: scale(.8, -.8);
    -moz-transform: scale(.8, -.8);
    transform: scale(.8, -.8);
}

#circ5shadow {
    background: -webkit-radial-gradient(57% 61%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
    background: -moz-radial-gradient(57% 61%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
    background: radial-gradient(57% 61%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
    top: 0px;
}

#circ6shadow {
    background: -webkit-radial-gradient(44% 65%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
    background: -moz-radial-gradient(44% 65%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
    background: radial-gradient(44% 65%, circle, rgba(204, 0, 0, 0) 53px, #9BBBC4 40px);
    top: 0px;
}

/*style the clouds*/
.bigCloud {
    box-shadow: 10px 10px 5px 20px black inset;
    position: absolute;
}

/*style circles that make up clouds*/
.smallCircle {
    height: 100px;
    width: 100px;
    background: white;
    border-radius: 100%;
    position: absolute;
}

.middleCircle {
    height: 150px;
    width: 150px;
    background: white;
    border-radius: 100%;
    position: absolute;
}

.largeCircle {
    height: 200px;
    width: 200px;
    background: white;
    border-radius: 100%;
    position: absolute;
}

/*Circle shadows*/

/*#circShadow1 {
    background: grey;
    border-radius: 30px 20px 500px 20px;
    
    -webkit-transform: rotate(45deg);
    z-index:2;
}*/

/*stars*/
.star {
    height: 3px;
    width: 3px;
    background: white;
    position: absolute;
    z-index: 0;
}

#star1 {
    top: 20px;
    left: 20%;
}

#star1+.star {
    top: 20px;
    left: 70%;
}

#star2 {
    top: 80px;
    left: 4%;
}

#star2+.star {
    top: 80px;
    left: 75%;
}

#star3 {
    top: 150px;
    left: 3%;
}

#star3+.star {
    top: 150px;
    left: 90%;
}

#star4 {
    top: 100px;
    left: 7%;
}

#star4+.star {
    top: 100px;
    left: 78%;
}

#star5 {
    top: 130px;
    left: 13%;
}

#star5+.star {
    top: 130px;
    left: 60%;
}

#star6 {
    height: 5px;
    width: 5px;
    top: 50px;
    left: 18%;
}

#star6+.star {
    height: 5px;
    width: 5px;
    top: 50px;
    left: 92%;
}

#star7 {
    top: 35px;
    left: 27%;
}

#star7+.star {
    top: 35px;
    left: 79%;
}

#star8 {
    top: 35px;
    left: 900px;
}

#star8+.star {
    top: 35px;
    left: 88%;
}

#star9 {
    height: 4px;
    width: 4px;
    top: 50px;
    left: 45%;
}

#star9+.star {
    height: 4px;
    width: 4px;
    top: 50px;
    left: 97%;
}

#star10 {
    top: 100px;
    left: 44%;
}

#star10+.star {
    top: 100px;
    left: 83%;
}

#star11 {
    top: 75px;
    left: 37%;
}

#star11+.star {
    top: 75px;
    left: 66%;
}

@-webkit-keyframes drift {
    from {
        left: 120%;
    }

    to {
        left: -25%;
    }
}

@-moz-keyframes drift {
    from {
        left: 120%;
    }

    to {
        left: -25%;
    }
}

@keyframes drift {
    from {
        left: 120%;
    }

    to {
        left: -25%;
    }
}

@-webkit-keyframes driftBg {
    0% {
        left: 50%;
        opacity: 0
    }

    3% {
        left: 48%;
        opacity: .7
    }

    100% {
        left: -25%;
        opacity: .7;
    }
}

@-moz-keyframes driftBg {
    0% {
        left: 50%;
        opacity: 0
    }

    3% {
        left: 48%;
        opacity: .7
    }

    100% {
        left: -25%;
        opacity: .7;
    }
}

@keyframes driftBg {
    0% {
        left: 50%;
        opacity: 0
    }

    3% {
        left: 48%;
        opacity: .7
    }

    100% {
        left: -25%;
        opacity: .7;
    }
}

@-webkit-keyframes driftBg2 {
    0% {
        left: 20%;
        opacity: 0
    }

    3% {
        left: 19%;
        opacity: .7
    }

    100% {
        left: -25%;
        opacity: .7;
    }
}

@-moz-keyframes driftBg2 {
    0% {
        left: 20%;
        opacity: 0
    }

    3% {
        left: 19%;
        opacity: .7
    }

    100% {
        left: -25%;
        opacity: .7;
    }
}

@keyframes driftBg2 {
    0% {
        left: 20%;
        opacity: 0
    }

    3% {
        left: 19%;
        opacity: .7
    }

    100% {
        left: -25%;
        opacity: .7;
    }
}

@-webkit-keyframes driftBg3 {
    0% {
        left: 90%;
        opacity: 0
    }

    2% {
        left: 88%;
        opacity: .65
    }

    100% {
        left: -25%;
        opacity: .65;
    }
}

@-moz-keyframes driftBg3 {
    0% {
        left: 90%;
        opacity: 0
    }

    2% {
        left: 88%;
        opacity: .65
    }

    100% {
        left: -25%;
        opacity: .65;
    }
}

@keyframes driftBg3 {
    0% {
        left: 90%;
        opacity: 0
    }

    2% {
        left: 88%;
        opacity: .65
    }

    100% {
        left: -25%;
        opacity: .65;
    }
}

.textBody {
    height: 100%;
    width: 1200px;
    padding: 15px 15px 15px 15px;
}

.leftText {
    width: 800px;
    top: 600px;
    position: absolute;
    margin-left: 20px;

    /*border-style: solid;
    border-width: 2px;
    border-color: black;*/
}

.leftText h2 {
    font-family: "Century Gothic";
    letter-spacing: -2px;
    font-size: 40px;
    font-weight: normal;
    margin-left: 20px;
}

.leftText p {
    font-family: "arial";
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
    z-index: 5;
}

.rightText {
    width: 300px;
    height: auto;
    position: relative;
    left: 875px;
    top: 200px;
    /*border-style: solid;
    border-width: 2px;
    border-color: black;*/
}

.rightText h4 {
    font-family: "Century Gothic";
    font-size: 20px;
    font-weight: normal;
    margin-left: 20px;
}

.rightText p {
    font-family: "arial";
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
    margin: 30px;
}

/*put animated cloud shadows at the bottom of the page*/



/* =============
    Get a ride
================*/

#vect-6 {
    margin-top: -14em;
}

#vect-7 {
    margin-top: 33em;

}


@media (max-width:991px) {
    #vect-6  {
        margin-top: 0em;
    }

    #vect-7 {
        margin-top: 5em;
    }

  
}