/* NAVBAR MEDIA */
@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

.dropdown-item:hover {
    background-color: white !important;
    color: black !important;
}

.dropdown-item {
    color: #FEC100 !important;
}

#nav {
    background-color: #363c4e;
}
#mob-logo{
    margin-left: -2em;
}
.menu-item {
    border-radius: 20px;
    color: #FEC100 !important;

}

.menu-item:hover {
    background-color: white;
    color: black !important;
    border-radius: 20px;
}

body {
    font-family: 'Poppins', sans-serif!important;
    font-size: 15px!important;
    background-color: #0F1626 !important;
}

.banner-txt {
    color: white;
    font-family: 'Russo One', sans-serif;
}

#popular-tab {
    color: white;

}

#popular-bar {
    background-color: #FEC100;
    position: absolute;
    margin-top: -0.4em;
    margin-left: 0.9em;
    width: 5.5em;
}

#economy-bar {
    background-color: #FEC100;
    position: absolute;
    margin-top: -0.4em;
    margin-left: 7.2em;
    width: 5.5em;
}

#economy-tab {
    color: white;
}

#next {
    height: 10px;
    margin-top: 4.5em;

}

.ways-to-ride  i {
    font-size: xx-large;
}

#prev {
    height: 10px;
    margin-top: 4.5em;

}
footer i,.foot{
color: #FEC100;
}