/* NAVBAR MEDIA */
@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}

.dropdown-item:hover {
    background-color: white !important;
    color: black !important;
}

.dropdown-item {
    color: #FEC100 !important;
}

#nav {
    background-color: #363c4e;
}

.menu-item {
    border-radius: 20px;
    color: #FEC100 !important;

}

.menu-item:hover {
    background-color: white;
    color: black !important;
    border-radius: 20px;
}

body {
    font-family: 'Bebas Neue', sans-serif !important;
    font-family: 'Fira Sans', sans-serif !important;
    font-family: 'Poppins', sans-serif !important;
    background-color: #0F1626 !important;
    /* background-color: #ffc7ff!important; */
}

.banner-txt {
    color: white;
    font-family: 'Russo One', sans-serif;
}

#popular-tab {
    color: white;

}

#popular-tab:focus,#economy-tab:focus {
    border-bottom: #FEC100 solid 5px;
}

#economy-tab {
    color: white;
}